apiVersion: v1
clusters:
- cluster:
    server: http://127.0.0.1:8080
    insecure-skip-tls-verify: true
  name: stackable
contexts:
- context:
    cluster: "stackable"
    user: cluster-admin
    namespace: default
  name: stackable
current-context: "stackable"
kind: Config
preferences: {}
users:
- name: cluster-admin
  user:
    password: geheim
    username: sliebau