[Unit]
Description=Stackable Zookeeper Operator
Before=
After=network.target

[Service]
User=root
ExecStart=/opt/zookeeper-operator/stackable-zookeeper-operator-server
Restart=on-abort
StandardOutput=journal

[Install]
WantedBy=multi-user.target