--parcel-directory=/opt/stackable-work/parcels
--config-directory=/opt/stackable-work/config
--server-cert-file=/etc/stackable-agent/ssl/krustlet1.crt
--server-key-file=/etc/stackable-agent/ssl/pkcs8.key